<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Grain Weight App</title>
</head>
<body>
<header>
    <h1>Grain Weight App</h1>
    <p>Vítej, <strong th:text="${#authentication.name}"></strong>!</p>
    <nav>
        <ul>
            <li><a th:href="@{/weightrecords/}">Seznam vážení</a></li>
            <li><a th:href="@{/weightrecords/new}">Nové vážení</a></li>
            <li><a th:href="@{/fields/}">Pole</a></li>
            <li><a th:href="@{/drivers/}">Řidiči</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/users/}">Uživatelé</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin sekce</a></li>
            <li>
                <form th:action="@{/logout}" method="post" style="display:inline">
                    <button type="submit">Odhlásit se</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <h2>Rychlé odkazy</h2>
        <ul>
            <li><a th:href="@{/weightrecords}">Prohlédnout vážení</a></li>
            <li><a th:href="@{/fields}">Správa polí</a></li>
            <li><a th:href="@{/drivers}">Správa řidičů</a></li>
            <li><a th:href="@{/users}">Správa uživatelů</a></li>
        </ul>
    </section>
</main>
</body>
</html>
