<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grain Weight App</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 th:text="${driver != null ? 'Řidič: ' + driver.driverName : 'Řidič neexistuje.'}"></h1>

<a th:if="${driver != null}" th:href="@{'/drivers/edit/'+${driver.id}}">Upravit řidiče</a>
<a th:if="${driver != null}" th:href="@{'/drivers/delete/'+${driver.id}}">Smazat řidiče</a>

</body>
</html>