<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grain Weight App</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 th:text="${user != null ? 'Opravdu chcete smazat uživatele: ' + user.name : 'Uživatel neexistuje.'}"></h1>
<form method="post" th:action="@{'/users/'+${user.id}+'/delete'}">
    <input type="submit" value="Ano, smazat!">
</form>
<a th:if="${user != null}" th:href="@{'/users/'+${user.id}}">Ne</a>

</body>
</html>